li {
  list-style: none;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
  display: block;
  cursor: pointer;

  & span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.3rem;
    height: 100%;
    color: #fff;
    padding: 1.2rem 1rem;
    display: flex;
    text-decoration: none;
  }
}

li:hover {
  border-color: #2c85d8;
  & a {
    color: #509ae0;
  }
}
