h1 {
    width: 100%;
    height: 300px;

    & .top-container-bg {
        width: 100px;
        height: 100px;
        background-color: red;
    }

    & .top-container-bg-2 {
        width: 200px;
        height: 200px;
        background-color: rgba(20, 204, 30, 0.712);
    }
}

