.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  margin: 0px;
  padding: 0px;
	background-color: #282A35;

	& .main-logo {
		background-image: url('./images/logo.png');
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		height: 82px;
		width: 109px;
	}

	& .nav-box {
		display: flex;
		justify-content: space-around;
		align-items: center;

		& .nav-list {
      display: flex;
      justify-content: space-around;
      margin: 0px;
      padding: 0px;
      height: 100%;
		}
	}

	& .search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		transition: all .7s;
		cursor: pointer;

		& .search-icon {
			height: 30px;
			width: 30px;
			color: #FDF2E9;
		}
	}

	& .search:hover {
    transform: scale(1.5);

    & .search-icon {
      color: #2c85d8;
    }
	}
}
