.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #282A35;

	& .main-logo {
		background-image: url('./images/logo.png');
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		height: 82px;
		width: 109px;
	}

	& .nav-box {
		display: flex;
		justify-content: space-around;
		align-items: center;

		& .nav-list {
			display: flex;
			justify-content: space-around;
			align-items: stretch;

			& li {
				height:auto;
				width: auto;
				list-style: none;
				font-size: 38px;
				padding: 5px;
				color: #FDF2E9;
				transition: all .7s;
				cursor: pointer;
				margin: 0px 10px;
			}

			& li:hover {
				background-color: #1C2833;
				transform: scale(1.2);
			  }
		}
	}

	& .search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		transition: all .7s;
		cursor: pointer;

		& .search-icon {
			height: 30px;
			width: 30px;
			color: #FDF2E9;
		}
	}

	& .search:hover {
		transform: scale(1.5);
	}
}
